<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/login.css">
  <title>DarwinTrade</title>
</head>

<body>
  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2"
      style="background-image: url('https://preview.colorlib.com/theme/selling/images/hero_2.jpg.webp');"></div>
    <div class="contents order-2 order-md-1">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3><img src="img/logo.png" alt="" style="position: relative;"> </h3><br>
            <form method="post" class="verifyForm">
              <div class="form-group first">
                <label for="otp">OTP</label>
                <input type="text" class="form-control" placeholder="Enter OTP" id="otp" name="otp"
                  value="">
                <div class="otpError text-danger"></div>
              </div>
              <div class="form-group mb-3">
                <label for="password_">New Password</label>
                <input type="password" class="form-control" placeholder="Enter password" id="password_" name="password_"
                  value="">
              </div>
               <div class="form-group last mb-3">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Enter your password again" id="password" name="password"
                  value="">
                <div class="passwordError text-danger"></div>
              </div>
              <input type="submit" value="Verify" class="btn btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/darwintrade.js"></script>
</body>

</html>